/TestController.class
/TestModel2.class
/TestScrabbleModel.class
/TestScrabbleModelScoring.class
/TestTrie.class
/AllTests.class
/TestScrabbleModelConHorizontal.class
/TestScrabbleModelConVertical.class
